

body {
  font-weight: normal;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #005580;
  text-align: center;
  height: 100%;
  margin: 10px; 
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: contents;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  font-weight: bolder;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 10px black !important;
  position: relative;
  }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 25px;
    }
  }

/* FIRST PART IMAGE */

.promo-header h2 {
    text-align: center;
  }
@media screen and (max-width: 400px) {
  h2 {
    font-size: 20px;
  }
}
.bg-nadhome {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/mahu/image/upload/c_scale,w_1000/v1649582222/Frauenloop%20-%20CoffeeShopWebsite%20/bg_singingbowl.jpg")
  }
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* COUNTDOWN */

#countdown {
  border: 1px solid white;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  #countdown {
    padding: 5px;
  }
}

/* ANIMATED ARROWS */

.arrowbox {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrowbox span {
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrowbox span:nth-child(2) {
  animation-delay: .2s;
  transform: rotate(45deg) translate(-20px, -20px); 
}
.arrowbox span:nth-child(3) {
  animation-delay: .4s;
}
@keyframes animate {
  0% 
  {
  opacity: 0;
  transform: rotate(45deg) translate(-10px, -10px);
  }
  50% 
  {
  opacity: 1;
  }
  100%{
  opacity: 0 ;
  transform: rotate(45deg) translate(10px, 10px);
  }
}

/* SECOND PART UNDER THE IMAGE */

.nadhome-promo {
  margin-top: 20px;
  padding: 10px;
  text-align: left;
}
.nadhome-promo h4, h2 {
  color: #005580;
  text-align: left;
}
@media screen and (max-width: 400px) {
  .nadhome-promo h4   {
    font-size: 16px;
  }
}
.column-left, column-right {
  margin-top: 20px;
}

/* left column FLIP CARD Effect */
/* source code example : https://www.youtube.com/watch?v=Lc6wyl1KdOc */


.flip-card-container {
  max-width: 500px;
  max-height: 707px;
  perspective: 1000px;
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
}
.flip-card-container:hover .flip-card{
  transform: rotateY(180deg); /*rotate on Y achse*/
}
.flyer-front, .flyer-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* for Safari - to hide back-face of flyer front + back */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.flyer-front {
  background-color:#005580;
  color: #fff;
}
.flyer-back {
  background-color: #A57C53;
  color: #fff;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
} 
.flyer-front img {
  width: 100%;
  height: 100%;
}

/* right column - Image Comparison Slider */
/* code example from w3schools: see nadyog.js */

.img-comp-container {
  position: relative;
  max-width: 500px;
  max-height: 707px;
}
@media screen and (max-width: 400px) {
  .img-comp-container  {
  max-width: 390px;
  max-height: 566px;
  }
}
.img-comp-img {
  position: absolute;
  max-width: 500px;
  max-height: 707px;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  .img-comp-img  {
    max-width: 390px;
    max-height: 566px;
  }
}

.img-comp-img img {
  display: block;
}

.img-comp-slider { /*this class is used in JS */
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #3B2D2A; /*color changed in comp. to w3s */
  opacity: 0.7;
  border-radius: 50%;
}
